doctype html
html
  head
    title User Signin
  body
    h1 Signin
    form(action="/user/signin" method="post")
      label(for="email") Email:
      input(type="email" name="email" required)
      br
      label(for="password") Password:
      input(type="password" name="password" required)
      br
      button(type="submit") Signin
    a(href="/user/signup") Don't have an account? Signup
